@charset "UTF-8";
@font-face {
    font-family:"NotoSansJP-Regular";
    src: url('font/NotoSansJP-Regular.otf');
}

body {
	margin:0; padding:0;
	background: #fffffff;
	text-align: center;
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
} 

#container {
}

header {
    color: #FFFFFF;
    background-color: #8080FF;
    font-size: 16px;
    text-align: left;
    padding: 20px;
}

#character {
    font-family:"NotoSansJP-Regular";
    font-size: 80px;
}

#message {
    margin-left: auto;
    margin-right: auto;
    margin: 15px;
}

#choices
{
    position: relative;
    width: 150px;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
}

#choices > button
{
    position: relative;
    float: left;
    width: 40px;
    height: 30px;
    border-radius: 4px;
    background-color: #E5E5E5;
    padding: 5px;
    margin-left: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    padding: 20px;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #8080FF;
}

#questions {
    text-align: left;
}

#questions > #alphabets {
    margin-left: auto;
    margin-right: auto;
}

#questions > #alphabets a {
    float: left;
    margin-right: 2%;
    font-weight: bold;
    font-size: 16px;
}

#questions > #alphabets a:hover {
    border-bottom: 2px solid black;
}

#questions .question-set {
    border-bottom: 2px solid black;
    font-weight: bold;
    font-size: 16px;
}

#questions .question-set h3 {
}

#questions .question-set input[type=checkbox] {
    float: right;
}
